h1 {
    color: #1A237E font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background-color: #F5FFFA;
    color: #1A237E;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
}

#line, #florida, #flags {
    width: 75%;
    height: 75%;
}

figcaption {
    font-size: 14px;
}